.image-upload input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}

/* .image-upload img {
    transition: filter 0.2s;
}

.image-upload img:hover {
    filter: drop-shadow(4px);
} */

.div-scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.div-scroll::-webkit-scrollbar {
    display: none;
}

.btn-flecha:hover {
    background-color: rgb(186, 197, 219);
    cursor: pointer;
}

.btn-flecha {
    width: 42px;
}

.imagen-circular {
    width: 340px;
    height: 340px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    transition: border-radius 0.3s;
}

.imagen-circular:hover {
    border-radius: 0%;
}


.imagen-circular>.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    image-rendering: auto;
    filter: blur(0.4px);
    transition: width 0.3s ease;
}

.custom-checkbox:checked {
    border-color: #e9c527 !important;
    background-color: #e9c527 !important;
}